<%- include('templates/headTags') %>
    <header class="sticky top-0 ">
            <div class="flex flex-row justify-between font-bold p-3 bg-primary items-center text-white h-[60px]">
                <div><a id="cancelAddGroup" href="/home">
                    Cancel
                </a></div>
            
                <div class="">
                    <button type="submit" form="addGroupForm" id="confirmAddGroup">Done</button>
                </div>
            </div>
    </header>
    <form action="/addGroupSubmission" method="post" id="addGroupForm" enctype="multipart/form-data" class="w-full ">
        <div class="flex flex-col gap-5 w-full">
            <div class="flex flex-row gap-3 m-2 mt-5">
                <div>
                    <label for="groupImage" class="cursor-pointer">
                        <% if (!group) { %>
                        <img src="/images/homepageIconsAndPlaceholders/addGroup.svg" class="w-14 h-14" alt="Add photo" id="previewImage">
                        <% } else { %>
                            <% if(group.group_picBase64) { %>
                                <img src="<%= group.group_picBase64%>" class="w-14 h-14" alt="Add photo" id="previewImage">
                                <% } else { %>  
                                <img class="w-14 h-14" src="/images/navbarIcons/groups.svg" id="previewImage" alt="">
                                <% } %>
                        <% } %>
                    <input id="groupImage" type="file" name="groupImage" capture class="hidden">
                </div>
                <div class="flex flex-col w-full">
                    <label for="groupName">Group name</label>
                    <% if (!group) { %>
                    <input type="text" id="groupName" name="groupName" class="w-full border-b pl-0 p-1 focus:outline-none focus:border-black">
                    <input type="text" value="GroupDoesNotExist" id="checkGroup" class="hidden">
                    <% } else { %>
                    <input type="text" id="groupName" name="groupName" class="w-full border-b pl-0 p-1 focus:outline-none focus:border-black" value="<%= group.group_name %>">
                    <input type="text" value="<%= group._id %>" name="groupId" class="hidden">
                    <input type="text" value="GroupExists" id="checkGroup" class="hidden">
                    <% } %>
                    <span class="text-red-700 hidden" id="emptyGroupNameWarning">Please enter a group name</span>
                </div>
            </div>
            <!-- <div class="flex flex-col w-full p-3 gap-2">
                <div class="w-1/6" class=""><span class="text-2xl">Category</span></div>
                <ul class="w-full flex flex-col gap-2" id="groupCategoryChoices">
                    <li class="flex flex-row gap-1 justify-start items-center p-3 w-full bg-secondary rounded-xl" id="travel"><span><img class="w-8 h-8" src="/images/addGroupIcons/travelBlack.svg" alt=""></span><span>Travel</span></li>
                    <li class="flex flex-row gap-1 justify-start items-center p-3 w-full bg-secondary rounded-xl" id="home"><span><img class="w-8 h-8" src="/images/addGroupIcons/homeBlack.svg" alt=""></span><span>Home</span></li>
                    <li class="flex flex-row gap-1 justify-start items-center p-3 w-full bg-secondary rounded-xl" id="food"><span><img class="w-8 h-8" src="/images/addGroupIcons/foodBlack.svg" alt=""></span><span>Food</span></li>
                    <li class="flex flex-row gap-1 justify-start items-center p-3 w-full bg-secondary rounded-xl" id="entertainment"><span><img class="w-8 h-8" src="/images/addGroupIcons/entertainmentBlack.svg" alt=""></span><span>Entertainment</span></li>
                    <li class="flex flex-row gap-1 justify-start items-center p-3 w-full bg-secondary rounded-xl" id="recreation"><span><img class="w-8 h-8" src="/images/addGroupIcons/recreationBlack.svg" alt=""></span><span>Recreation</span></li>
                    <li class="flex flex-row gap-1 justify-start items-center p-3 w-full bg-secondary rounded-xl" id="misc"><span><img class="w-8 h-8" src="/images/addGroupIcons/miscBlack.svg" alt=""></span><span>Miscellaneous</span></li>
                </ul>
            </div> -->
            <div class="flex flex-col w-full p-3 gap-2 mb-[70px]">
                <div class="" class=""><span class="text-2xl">Add members</span></div>
                <span class="text-red-700 hidden" id="emptyFriendWarning">Please select at least one friend</span>
                <ul class="w-full flex flex-col gap-2" id="groupFriendChoices">
                    <% for(let i = 0; i< friends.length; i ++) {%>
                        <%- include('templates/friendsAddGroup', {friend: friends[i]}) %>
                    <% } %>
                    
                </ul>
                <!-- <input type="text" name="category" id="categoryInput" class="hidden" value="misc" disabled> -->
                <input type="textBox" name="friends" id="friendInput" class="hidden" value="">
            </div>
            </div>
            
        </div>
    </form> 
    
    <script src="/scripts/addGroup.js"></script>
    <%- include('templates/footer') %>