<%- include('templates/header') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts/dist/apexcharts.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <style>
        .chart-container {
            width: 600px;
            margin: auto;
        }
    </style>
    <div class="fixed w-full bg-white pb-2">
        <div class="flex flex-row">
            <% if(group.group_picBase64) { %>
            <img class="m-3 rounded-md h-20 w-20" src="<%= group.group_picBase64%>" alt="">
            <% } else { %>  
            <img class="m-3 rounded-md h-20 w-20" src="/images/navbarIcons/groups.svg" alt="">
            <% } %>
            <div>
                <div class="flex flex-row items-center">
                    <p class="font-semibold text-xl mt-2 pr-2" id="groupNameHere"><%=group.group_name%></p>
                    <a href="/addGroup?groupId=<%=group._id%>"><img src="/images/otherIcons/editIcon.svg" alt="" class="h-4 w-4 mt-2"></a>
                </div>
                <p class="text-gray-400 text-xs" id="usersOfAGroupHere">
                    <% if (group.members.length > 3) { %>
                    <div id="moreThanThreeUsers" class="text-gray-400 text-xs pb-1 moreUsers">
                        <%= !(group.members[0].user_id.username).includes('Deleted User') ? group.members[0].user_id.username+', ':''%><%=!(group.members[1].user_id.username).includes('Deleted User') ? group.members[1].user_id.username+', ':''%>%><%=!(group.members[2].user_id.username).includes('Deleted User') ? ', '+group.members[2].user_id.username:''%> and <%=group.members.length - 3%> more
                    </div>
                    <div id="allUsers" class="hidden text-gray-400 text-xs pb-1 moreUsers">
                        <% for (let i=0; i < group.members.length; i++) { %>
                            <% if (!(group.members[i].user_id.username).includes('Deleted User')) {%>
                            <% if (i == group.members.length - 1) { %>
                                <%= group.members[i].user_id.username %>
                            <% } else { %>
                                <%= group.members[i].user_id.username %>, 
                            <% } %>
                            <% } %>
                        <% } %>
                    </div>
                    <% } else { %>
                    <div id="lessThanThreeUsers" class="text-gray-400 text-xs pb-1 moreUsers">
                        <% for (let i=0; i < group.members.length; i++) { %>
                            <% if (!(group.members[i].user_id.username).includes('Deleted User')) {%>
                            <% if (i == group.members.length - 1) { %>
                                <%= group.members[i].user_id.username %>
                            <% } else { %>
                                <%= group.members[i].user_id.username %>, 
                            <% } %>
                            <% } %>
                        <% } %>
                    </div>
                    <% } %>
                </p>
                <a href="/suggestedReimbursements?groupId=<%=group._id%>" class="flex justify-start font-medium">
                    <p class="px-2 text-[#4b061a] outline outline-1 outline-[#4b061a] hover:bg-[#4b061a] hover:text-white rounded-lg flex flex-row items-center">
                        <span class="text-sm">Suggested Reimbursements</span>
                        <span class="pl-2 text-2xl mb-1">&#8250;</span>
                    </p>
                </a>
            </div>
        </div>
        <div class="text-black mt-2 flex mx-2 justify-center">
            <div class="flex flex-row border border-black rounded-full w-full justify-center">
                <button class="w-1/2 p-1 text-white bg-[#4b061a] rounded-full" id="showExpenses">Expenses</button>
                <button class="w-1/2 p-1 rounded-full" id="showBalances">Balances</button>
            </div>
        </div>
    </div>
    <div id="expenses" class="overflow-auto mt-[150px] mb-[90px] flex-col">
        <ul>
            <% if (group.transactions) { %>
                <% let sortedTransactions = group.transactions.sort((a, b) => {
                    return new Date(b.date) - new Date(a.date)
                }) %>
                <% for (i=0; i < sortedTransactions.length; i++) { %>
                    <%- include('templates/groupExpense', { transaction: sortedTransactions[i] }) %> 
                <% } %>
            <% } %>
        </ul>
    </div>

    <div id="balances" class="overflow-auto mb-[90px] mt-[135px] hidden" data-friend-debt='<%= JSON.stringify(friendDebt) %>'>
    </div>

    <script src="/scripts/groups.js"></script>
<%- include('templates/footer') %>