<%- include('templates/header') %>
<div class="fixed top-15 grid grid-cols-2 rounded-b-2xl text-xl w-full text-white  bg-primary px-8 pt-2 pb-4 shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px]"
id="usernameAndPic">
<div>
    <h1>Hi, <span class="" id="namegoesHere"><%= username %></span>!</h1>
    <div class="text-sm text-[#d3d0cb]">Ready to settle up?</div>
</div>
<img class="w-16 h-16 ml-auto rounded-full hover:cursor-pointer" id="homepagePic" data-src="<%= profilePic %>" alt="">
</div>
<div class="mb-[102px]">
    <div class="flex justify-start mt-[100px] mx-3" id="AddButtonsDiv">
        <a class="hidden self-start" href="addGroup" id="createGroup">+ create group</a>
        <a class="hidden" href="/addFriend" id="addFriend">+ add friend</a>
        </div>
        
        <div class="text-black mt-2 flex mx-2 justify-center">
            <div class="flex flex-row border border-black rounded-full w-full justify-center">
                <button class="w-1/2 p-1 text-white  rounded-full bg-[#4b061a]" id="showGroups">Groups</button>
                <button class="w-1/2 p-1 rounded-full" id="showFriends">Friends</button>
            </div>
        </div>
        <div class="m-3" id="friendSearch">
            <div class="outline outline-1 outline-[#d3d0cb] rounded-lg flex flex-row w-full">
                <input class="px-2  py-1 w-full" name="friendSearch" type="search" placeholder="Search for a friend ">
                <button id="friendSearchButton" class="justify-end px-2 mr-auto hover:cursor-pointer"><img class="w-8 h-8" src="/images/homepageIconsAndPlaceholders/search.svg" alt=""> </button>
            </div>
        </div>
        <div class="m-3 hidden" id="groupSearch">
            <div class="outline outline-1 outline-[#d3d0cb] rounded-lg flex-row w-full flex">
                <input class="px-2 py-1 w-full" name="groupSearch" type="search" placeholder="Search for a group ">
                <button id="groupSearchButton" class="justify-end px-2 mr-auto hover:cursor-pointer"> <img class="w-8 h-8" src="/images/homepageIconsAndPlaceholders/search.svg" alt=""> </button>
            </div>
        </div>
        
            <div id="groups" class="flex-col m-3 gap-3 flex">
                <ul>
                    <% for(let i = 0; i < groups.length; i++) {%>
                        <%- include('templates/groupsHomepage', { group: groups[i] }) %>
                    <% } %>
                </ul>
                
                            
            </div>
            <div id="friends" class="hidden flex-col m-3 gap-3">
                <ul>
                    <% for(let i = 0; i < friends.length; i++ ) { %>
                        <%- include('templates/friendsHomepage', { friend: friends[i] }) %>
                    <% } %>
                </ul>
            </div>
                
            
            </div>
            <div class="hidden flex-row justify-center mt-10" id="addFriendSecondaryDiv">
                <a id="addFriendSecondary" href="/addFriend" class="flex flex-row items-center border py-3 px-9 text-primary border-primary gap-3 rounded-xl hover:bg-primary hover:text-white">
                    <img src="/images/homepageIconsAndPlaceholders/addFriend.svg" id="addFriendPic" class="w-8 h-8" alt=""> <span>Add a friend</span></a>
            </div>
            <div class="flex-row justify-center mt-10 hidden" id="addGroupSecondaryDiv">
                <a id="addGroupSecondary" href="/addGroup" class="flex flex-row items-center border py-3 px-7 text-primary border-primary gap-3 rounded-xl hover:bg-primary hover:text-white">
                    <img src="/images/homepageIconsAndPlaceholders/addGroup.svg" id="addGroupPic" class="w-8 h-8" alt=""> <span>Create a group</span></a>
            </div>
        </div>
        <script src="/scripts/main.js"></script>
<%- include('templates/footer') %>