<%- include('templates/header') %>
<div id="recentActivity" class="overflow-auto mb-[90px]">
    <% recentActivities.forEach(activity => { %>
    <% if (activity.splitAmount > 0) { %>
    <a href="/individualExpense" class="usersActivity flex flex-row items-center rounded-xl m-3 shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px]">
        <% if (activity.groupPic) { %>
        <img class="ml-4 rounded-md h-14 w-14" src="<%= activity.groupPic %>" alt="Group Pic">
        <% } else { %>
        <img class="ml-4 rounded-md h-14 w-14" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="Default Pic">
        <% } %>
        <div class="flex flex-col text-xs m-4 text-gray-500 w-full mt-2">
            <div class="flex flex-row justify-between text-black">
                <p class="text-lg font-semibold flex items-center"><%= activity.groupName %></p>
                <div class="flex ml-auto flex-col">
                    <p class="text-gray-500 text-center">Your split:</p>
                    <p class="text-xl font-semibold text-center">$<%= activity.splitAmount.toFixed(2) %></p>
                </div>
            </div>
            <div class="leading-4 flex flex-wrap w-4/6">
                <%= activity.paidBy %> paid $<%= activity.totalCost.toFixed(2) %> for <%= activity.expenseName %> on behalf of <%= activity.paidFor.join(', ') %>
            </div>
        </div>
    </a>
    <% } %>
    <% }) %>
</div>
<%- include('templates/footer') %>
