<%- include('templates/headTags') %>
    <div class = 'flex flex-col items-center mt-12'>
        <div id = 'spacer' class = "bg-inherit h-[10%]"></div>
        <div class = "border-4 border-primary overflow-hidden max-w-[50%] w-fit my-4 h-fit rounded-full">
            <label for="profileImage" class="cursor-pointer">
                <img src="/images/homepageIconsAndPlaceholders/addProfilePic.svg" class="" id="previewProfileImage" alt="Add Photo">
                <input id="profileImage" type="file" name="profileImage" capture class="hidden">
            </label>
        </div>
        <span class="text-red-600 font-semibold text-2xl cursor-pointer pb-2 hidden" id="removePic">Remove Profile Picture</span>
        <div id = "selectPic" class = "text-center">
            <h1 class = "text-2xl font-semibold pb-2">Select a Profile Picture</h1>
        </div>
        <form action = '/submitRegistration' method = "POST" class = "flex flex-col items-center w-full justify-center gap-y-4 text-center" enctype="multipart/form-data">
            <div class="flex flex-col items-center justify-center">
            </div>
                
            <input type = "text" name = "email" class="focus:outline-none mx-auto bg-white w-1/2 min-w-52 py-3 rounded-lg border-primary border-2 font-semibold shadow-md px-4 <%= error.includes('email') ? 'placeholder-red-400' : '' %>" placeholder = "<%= error.includes('email') ? 'Invalid email' : 'Enter your email*' %>"
            <% if(signUpFields['email'] != "") { %>
                value="<%= signUpFields['email'] %>">
            <% } else {%>
                >
            <% } %>
            <input type = "tel" id="phoneNumber" name = "phone" class="focus:outline-none mx-auto bg-white w-1/2 min-w-52 py-3 rounded-lg border-primary border-2 font-semibold shadow-md px-4 <%= error.includes('phone') ? 'placeholder-red-400' : '' %>" placeholder = "<%= error.includes('phone') ? 'Invalid phone #' : 'Enter your phone #*' %>"
            <% if(signUpFields['phone'] != "") { %>
                value="<%= signUpFields['phone'] %>">
            <% } else { %>
                >
            <% } %>
            <input type = "text" name =  "username" class="focus:outline-none mx-auto bg-white w-1/2 min-w-52 py-3 rounded-lg border-primary border-2 font-semibold shadow-md px-4 <%= error.includes('username') ? 'placeholder-red-400' : '' %>" placeholder = "<%= error.includes('username') ? 'Invalid name' : 'Enter your name*' %>"
            <% if(signUpFields['username'] != "") { %>
                value="<%= signUpFields['username'] %>">
            <% } else { %>
                >
            <% } %>

            <input type = "password" name = "password" class="focus:outline-none mx-auto bg-white w-1/2 min-w-52 py-3 rounded-lg border-primary border-2 font-semibold shadow-md px-4 <%= error.includes('email') ? 'placeholder-red-400' : '' %>" placeholder = "<%= error.includes('password') ? 'Invalid password' : 'Enter a password*' %>">
            <p class="mx-8 text-xs pb-2">
                Min. 8 characters, 1 lowercase, 1 uppercase, and 1 number. ONLY the following special characters are allowed: @ $ ! % * ? &   
            </p>

            <button type = "submit" id = "register" class="bg-primary mx-auto text-white font-medium w-1/2 text-lg p-2 border-primary border-2 rounded-xl shadow-md">Sign Up</button>
        </form>
        <div class = "pt-4 text-center">
            <p class = "">Already have an account? <span onclick = "window.location = '/'" class = 'font-bold cursor-pointer'>Login</span></p>
        </div>
    </div>
<script src="/scripts/register.js"></script>
<% include('templates/footer') %>
