<%- include('templates/headTags') %>
<body class = "">
    <div class = 'flex flex-col items-center h-dvh w-dvw'>
        <div id = 'spacer' class = "bg-inherit h-[10%]"></div>
        <div class = "bg-primary  max-w-[50%] w-fit h-fit rounded-full my-4">
            <img src="/images/navbarIcons/logo.png" class="mx-auto blur-[0.5px] p-8" id="logo" alt="logo">
        </div>
        <div class = "text-center">
            <h1 class = "text-2xl font-semibold pb-2">PennyWise</h1>
            <% if (error.includes('password')) { %>
                <p class="text-red-400 mx-8 pb-4">
                    Password must be 8-20 characters long, include at least one uppercase letter, one lowercase letter, one number, and one special character.
                </p>
            <% } else { %>
                <h2 class = "text-lg">Welcome to PennyWise!</h2>
                <p class='pb-2'>Please register to continue.</p>
            <% } %>
        </div>
        <form action = '/submitRegistration' method = "POST" class = "flex flex-col items-center w-full justify-center gap-y-4 text-center">
            <input type = "text" name = "email" class="focus:outline-none mx-auto bg-white w-1/2 min-w-52 py-4 rounded-lg border-primary border-2 font-semibold shadow-md px-4 <%= error.includes('email') ? 'placeholder-red-400' : '' %>" placeholder = "<%= error.includes('email') ? 'Invalid email' : 'Enter your email' %>">
            <input type = "tel" name = "phone" class="focus:outline-none mx-auto bg-white w-1/2 min-w-52 py-4 rounded-lg border-primary border-2 font-semibold shadow-md px-4 <%= error.includes('phone') ? 'placeholder-red-400' : '' %>" placeholder = "<%= error.includes('phone') ? 'Invalid phone #' : 'Enter your phone #' %>">
            <input type = "text" name =  "username" class="focus:outline-none mx-auto bg-white w-1/2 min-w-52 py-4 rounded-lg border-primary border-2 font-semibold shadow-md px-4 <%= error.includes('username') ? 'placeholder-red-400' : '' %>" placeholder = "<%= error.includes('username') ? 'Invalid name' : 'Enter your name' %>">
            <input type = "password" name = "password" class="focus:outline-none mx-auto bg-white w-1/2 min-w-52 py-4 rounded-lg border-primary border-2 font-semibold shadow-md px-4 <%= error.includes('email') ? 'placeholder-red-400' : '' %>" placeholder = "<%= error.includes('password') ? 'Invalid password' : 'Enter a password' %>">
            <button type = "submit" id = "register" class="bg-primary mx-auto text-white font-medium w-1/2 text-lg p-2 border-primary border-2 rounded-full shadow-md">Sign Up</button>
        </form>
        <div class = "pt-4 text-center">
            <p class = "">Already have an account? <span onclick = "window.location = '/'" class = 'font-bold cursor-pointer'>Login</span></p>
        </div>
    </div>
<% include('templates/footer') %>
