<div class="flex flex-row">
    <div class="bg-white rounded-2xl m-2 flex flex-row items-center p-2 w-full">
        <input type="checkbox" id="<%= group._id %><%= friend._id %>Equal" name="userEqualSplit" value="true"
            data-user-id="<%= friend._id %>" class="userEqualSplit">
        <div class="w-1/2 flex flex-row items-center">
            <% if (friend.profileImageBase64) { %>
                <img class=" pl-1 h-10 w-10 rounded-lg" src="<%= friend.profileImageBase64 %>" alt="">
                <% } else { %>
                    <img class=" pl-1 h-10 w-10 rounded-lg"
                        src="/images/homepageIconsAndPlaceholders/profilePicPlaceholderSettings.svg" alt="">
                    <% } %>
                        <p class="font-semibold px-2">
                            <%= friend.username %>
                        </p>
        </div>
        <input readonly class="equalValue text-right" type="text"
            id="<%= group._id %><%= friend._id %>AmountEqualInput" name="<%= group._id %><%= friend._id %>AmountEqual"
            min="0">
    </div>

</div>