<!-- Purpose: This template is used to display the friends of the user in the edit friends manual part of the form. -->
<div class="flex flex-row">
    <div class="bg-white rounded-2xl m-2 flex flex-row items-center p-2 w-full">
        <% if (transaction && transaction.user_id.equals(friend._id) && transaction.amount_paid > 0 && transactionGroup._id.equals(group._id)) { %>
            <div class="w-1/2 flex flex-row items-center">
                <% if (friend.profileImageBase64) { %>
                    <img class="h-10 w-10 rounded-lg" src="<%= friend.profileImageBase64 %>" alt="">
                <% } else { %>
                    <img class="h-10 w-10 rounded-lg" src="/images/homepageIconsAndPlaceholders/profilePicPlaceholderSettings.svg" alt="">
                <% } %>
                <p class="font-semibold px-2"><%= friend.username %></p>
            </div>
            <div class="relative w-1/2">
                <input type="number" id="<%= group._id %><%= friend._id %>AmountManual" step="0.01" name="<%= group._id %><%= friend._id %>AmountManual" data-user-id="<%= friend._id %>"
                    class="text-xl font-semibold px-2 text-right focus:outline-none focus:border-b-2 z-0 w-full ml-auto manual friendAmountManual" placeholder='0.00' value="<%= transaction.amount_paid.toFixed(2) %>">
                <div class="absolute inset-y-0 start-0 flex items-center">
                    <span class="text-gray-400 text-xl font-semibold">$</span>
                </div>
             </div>
        <% } else {%>
            <div class="w-1/2 flex flex-row items-center">
                <% if (friend.profileImageBase64) { %>
                    <img class="h-10 w-10 rounded-lg" src="<%= friend.profileImageBase64 %>" alt="">
                <% } else { %>
                    <img class="h-10 w-10 rounded-lg" src="/images/homepageIconsAndPlaceholders/profilePicPlaceholderSettings.svg" alt="">
                <% } %>
                <p class="font-semibold px-2"><%= friend.username %></p>
            </div>
            <div class="relative w-1/2">
                <input type="number" id="<%= group._id %><%= friend._id %>AmountManual" step="0.01" name="<%= group._id %><%= friend._id %>AmountManual" data-user-id="<%= friend._id %>"
                    class="text-xl font-semibold px-2 text-right focus:outline-none focus:border-b-2 z-0 w-full ml-auto manual friendAmountManual" placeholder="0.00">
                <div class="absolute inset-y-0 start-0 flex items-center">
                    <span class="text-gray-400 text-xl font-semibold">$</span>
                </div>
             </div>
            <% } %>
    </div>
</div>
