<div class="flex flex-row">
    <div class="bg-white rounded-2xl m-2 flex flex-row items-center p-2 w-full">
        <div class="w-1/2 flex flex-row items-center">
            <% if (friend.profileImageBase64) { %>
                <img class="" src="<%= friend.profileImageBase64 %>" alt=""
                    height="50" width="50">
                <% } else { %>
                <img class="" src="/images/homepageIconsAndPlaceholders/profilePicPlaceholderSettings.svg" alt=""
                    height="50" width="50">
                <% } %>
    
                <p class="font-semibold px-2"><%= friend.username %></p>
        </div>
        <div class="relative w-1/2">
            <input type="number" id="<%= group._id %><%= friend._id %>AmountManual" name="<%= group._id %><%= friend._id %>AmountManual" min="0" data-user-id="<%= friend._id %>"
                class="text-xl font-semibold px-2 text-right focus:outline-none focus:border-b-2 z-0 w-full ml-auto manual friendAmountManual"
                placeholder="0.00">
            <div class="absolute inset-y-0 start-0 flex items-center">
                <span class="text-gray-400 text-xl font-semibold">$</span>
            </div>
        </div>
    </div>
</div>