<li>
    <div class="flex flex-col gap-1">
        <div class="flex flex-row shadow-md w-full bg-primary text-white justify-between p-4 items-center rounded-xl friend" id="friend<%= friend.phone %>">
            <!-- <a href="" id="openSettlementOptions<%= friend.phone %>" class=""> -->
                <div class="flex flex-row items-center gap-4">
                    <% if (!friend.profileImageBase64) { %>
                        <img class="w-8 h-8 ml-auto rounded-full hover:cursor-pointer" src="/images/homepageIconsAndPlaceholders/profilePicPlaceholder.svg" alt="<%= friend.username %>">
                    <% } else { %>
                    <img class="w-8 h-8 ml-auto rounded-full hover:cursor-pointer" src="<%= friend.profileImageBase64 %>" alt="<%= friend.username %>">
                    <% } %>
                    <div><%= friend.username %></div>
                </div>
                <div class="flex flex-row gap-10">
                    <div class="" id="amount<%= friend.phone %>">+$52</div>
                </div>
            <!-- </a> -->
            <button id="<%= friend.phone %>Delete" class="hidden text-primary border border-primary rounded-xl hover:bg-primary hover:text-white bg-white px-2 py-2 deleteFriend">
                Delete
            </button>
        </div>
        <div class="m-3 flex-row justify-center items-center gap-3 hidden fadeOut" id="<%= friend.phone %>ConfirmDeleteOptionsFriends">
            <form action="/deleteGroup" method="post">
                <div class="text-red-600 text-center text-sm mb-2">
                    Are you sure you want to delete your friend?
                </div>
                <div class="flex flex-row justify-center gap-2">
                    <input class="text-primary border border-primary gap-3 rounded-xl hover:bg-primary hover:text-white bg-white px-3 py-2" type="submit" id="<%= friend.phone %>ConfirmDelete" value="Confirm">
                    <input class="text-primary border border-primary gap-3 rounded-xl hover:bg-primary hover:text-white bg-white px-3 py-2" type="button" id="<%= friend.phone %>CancelDelete" value="Cancel">
                    <input type="text" class="hidden" name="friendDeleteID" id="<%= friend.phone %>Selected">
                </div>
            </form>   
        </div>
        <form action="/settleup" method="post" class="hidden hideManually fadeOut" id="formFriend<%= friend.phone %>">
            <div class="m-1 hidden hideManually fadeOut text-red-500" id="EnterAmountWarning<%= friend.phone %>">
                Please enter a valid amount to settle up.
            </div>
            <div class="flex flex-row justify-center gap-5 rounded-xl bg-white p-2 items-center mb-4 shadow-2xl text-black">
                <input type="text" name="friend<%= friend.phone %>" id="" value="<%= friend.phone %>" class="hidden">
                <div class="flex flex-row justify-evenly gap-3">
                    <div class="flex flex-row w-1/2 items-center gap-1 justify-end">
                        <label class="text-xl" for="amount">$</label>
                        <input class="text-center rounded-lg px-1 text-black w-full p-1 focus:outline-none focus:border-b focus:border-primary" type="number" id="enterAmount<%= friend.phone %>" name="enterAmount" value="52">
                        <input type="text" name="friendPhone" class="hidden" id="" value="<%= friend.phone %">
                    </div>
                </div>
                <div class=" flex flex-row justify-center">
                    <input class="text-primary border-primary border gap-3 rounded-xl hover:bg-primary hover:text-white bg-white px-3 py-2 fadeOut" type="button" id="submitSettle<%= friend.phone %>" value="Settle up">
                </div>
                <div class="flex-row justify-center items-center gap-3 hidden fadeOut" id="confirmfriend<%= friend.phone %>">
                    <input class="text-primary border border-primary gap-3 rounded-xl hover:bg-primary hover:text-white bg-white px-3 py-2" type="submit" id="confirmSettle<%= friend.phone %>" value="Confirm">
                    <input class="text-primary border border-primary gap-3 rounded-xl hover:bg-primary hover:text-white bg-white px-3 py-2" type="button" id="cancelSettle<%= friend.phone %>" value="Cancel">
                </div>
            </div>
        </form>
    </div>
</li>
