<% if (!group) { %>
    <li class="flex flex-row gap-1 justify-between items-center p-3 w-full bg-secondary rounded-xl"
        id="selectFriend<%= friend._id%>">
        <div class="flex flex-row items-center gap-4">
            <% if(!friend.profileImageBase64) { %>
                <img class="w-8 h-8 ml-auto rounded-full hover:cursor-pointer"
                    src="/images/homepageIconsAndPlaceholders/profilePicPlaceholder.svg" alt="<%= friend.username %>">
                <% } else { %>
                    <img class="w-8 h-8 ml-auto rounded-full hover:cursor-pointer"
                        src="<%= friend.profileImageBase64 %>" alt="">
                    <% } %>
                        <div>
                            <%= friend.username %>
                        </div>
        </div><span id="addFriend<%= friend._id%>">+</span>
    </li>
    <% } else { %>
        <% let isMember=group.members.some(member=> member.user_id.username === friend.username) %>
            <% if (isMember) { %>
                <% console.log(groupBalance[friend._id]) %>
                <% if((groupBalance[friend._id].amount).toFixed(2) == 0) {%>
                <li class="flex flex-row gap-1 justify-between items-center p-3 w-full bg-primary rounded-xl"
                    id="selectFriend<%= friend._id%>">
                    <div class="flex flex-row items-center gap-4">
                        <% if(!friend.profileImageBase64) { %>
                            <img class="w-8 h-8 ml-auto rounded-full hover:cursor-pointer"
                                src="/images/homepageIconsAndPlaceholders/profilePicPlaceholder.svg"
                                alt="<%= friend.username %>">
                            <% } else { %>
                                <img class="w-8 h-8 ml-auto rounded-full hover:cursor-pointer"
                                    src="<%= friend.profileImageBase64 %>" alt="">
                                <% } %>
                                    <div>
                                        <%= friend.username %>
                                    </div>
                    </div><span id="addFriend<%= friend._id%>">-</span>
                </li>
                <% } %>
                <% } else { %>
                    <li class="flex flex-row gap-1 justify-between items-center p-3 w-full bg-secondary rounded-xl"
                        id="selectFriend<%= friend._id%>">
                        <div class="flex flex-row items-center gap-4">
                            <% if(!friend.profileImageBase64) { %>
                                <img class="w-8 h-8 ml-auto rounded-full hover:cursor-pointer"
                                    src="/images/homepageIconsAndPlaceholders/profilePicPlaceholder.svg"
                                    alt="<%= friend.username %>">
                                <% } else { %>
                                    <img class="w-8 h-8 ml-auto rounded-full hover:cursor-pointer"
                                        src="<%= friend.profileImageBase64 %>" alt="">
                                    <% } %>
                                        <div>
                                            <%= friend.username %>
                                        </div>
                        </div><span id="addFriend<%= friend._id%>">+</span>
                    </li>
                    <% } %>
                        <% } %>