<div class="flex flex-row">
    <div class="bg-white rounded-2xl m-2 flex flex-row items-center p-2 w-full">
        <% if (transaction && transaction.user_id.equals(friend._id) && transaction.amount_paid > 0) { %>
        <input type="checkbox" id="<%= group._id %><%= friend._id %>" name="userEqualSplit" value="true" data-user-id="<%= friend._id %>" class="userEqualSplit" checked="checked"> 
        <div class="w-1/2 flex flex-row items-center">
            <% if (friend.profileImageBase64) { %>
            <img class="" src="<%= friend.profileImageBase64 %>" alt=""
                height="50" width="50">
            <% } else { %>
            <img class="" src="/images/homepageIconsAndPlaceholders/profilePicPlaceholderSettings.svg" alt=""
                height="50" width="50">
            <% } %>

            <p class="font-semibold px-2"><%= friend.username %></p>
        </div>
                <p class="w-full font-semibold text-xl text-right focus:outline-none focus:border-b-2 px-2 text-gray-400"
                type="number" id="<%= group._id %><%= friend._id %>AmountEqual" name="<%= group._id %><%= friend._id %>AmountEqual" min="0" >$<%= transaction.amount_paid.toFixed(2) %></p>
            <% } else { %>
                <input type="checkbox" id="<%= group._id %><%= friend._id %>" name="userEqualSplit" value="true" data-user-id="<%= friend._id %>" class="userEqualSplit"> 
                <div class="w-1/2 flex flex-row items-center">
                    <% if (friend.profileImageBase64) { %>
                    <img class="" src="<%= friend.profileImageBase64 %>" alt=""
                        height="50" width="50">
                    <% } else { %>
                    <img class="" src="/images/homepageIconsAndPlaceholders/profilePicPlaceholderSettings.svg" alt=""
                        height="50" width="50">
                    <% } %>
        
                    <p class="font-semibold px-2"><%= friend.username %></p>
                </div>
                <p class="w-full font-semibold text-xl text-right focus:outline-none focus:border-b-2 px-2 text-gray-400"
                type="number" id="<%= group._id %><%= friend._id %>AmountEqual" name="<%= group._id %><%= friend._id %>AmountEqual" min="0" placeholder="$0.00">$0.00</p>
            <% } %>
        <input class="visually-hidden" type="hidden" id="<%= group._id %><%= friend._id %>AmountEqualInput" name="<%= group._id %><%= friend._id %>AmountEqual" min="0">
    </div>
    <style>
        .visually-hidden {
            position: absolute !important;
            clip: rect(1px, 1px, 1px, 1px);
            padding: 0 !important;
            border: 0 !important;
            height: 1px !important;
            width: 1px !important;
            overflow: hidden;
        }
    </style>
</div>
