<li>
    <a href="/individualExpense?expenseId=<%= transaction._id %>" class="m-2 flex flex-row p-3 rounded-xl shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px]">
        <div class="flex flex-col items-center">
            <% let transactionDateString = transaction.date.toUTCString() %>
            <p><%= transactionDateString.substring(8, 11) %></p>
            <p><%= transactionDateString.substring(5, 7) %></p>
        </div>
        <% let groupTransactionsCategory = transaction.category %>
        <img class="mx-3" src="/images/addGroupIcons/<%= groupTransactionsCategory %>Black.svg" alt="" height="40" width="40">
        <div>
            <div class="flex flex-row justify-between">
                <% if (transaction.name.length > 20) { %>
                <p class="font-semibold"><%= transaction.name.substring(0, 20) + "..." %></p>
                <% } else { %>
                <p class="font-semibold"><%= transaction.name %></p>
                <% } %>
            </div>
            <% let groupMembersList = group.members %>
            <% for (j=0; j < groupMembersList.length; j++) { %>
                <% if (groupMembersList[j].user_id._id.equals(transaction.payee)) { %>
                    <p class="text-sm text-gray-400 leading-3">Paid by: <%= groupMembersList[j].user_id.username %></p>
                <% } %>
            <% } %>
        </div>
        <div class="flex flex-col ml-auto justify-center">
            <p class="flex font-medium text-xl">$<%= transaction.total_cost.toFixed(2) %></p>
        </div>
    </a>
</li>
