<% if (transaction) { %>
    <% if (transaction.group_id._id.equals(group._id) && transaction.payee._id.equals(friend._id)) { %>
        <option class="text-center" value="<% transaction.payee._id %>" selected><%= transaction.payee.username %></option>
    <% } else if (transaction.group_id._id.equals(group._id)) { %>
        <option class="text-center username <%= group._id %>" id="<%= friend._id %>userName" value="<%= friend._id %>"><%= friend.username %></option>
    <% } else if (!transaction.group_id._id.equals(group._id)) { %>
        <% if (transaction.payee._id.equals(friend._id)) { %>
        <% } else { %>
            <option class="text-center hidden username <%= group._id %>" id="<%= friend._id %>userName" value="<%= friend._id %>"><%= friend.username %></option>
        <% } %>
    <% } %>
<% } else { %>
    <option class="text-center username <%= group._id %>" id="<%= friend._id %>userName" value="<%= friend._id %>"><%= friend.username %></option>
<% } %>
