<% if (transaction) { %>
    <% if (transaction.payee.username == friend.username) { %>
        <option class="text-center" value="<% transaction.payee.username %>" selected><%= transaction.payee.username %></option>
    <% } else { %>
        <option class="text-center hidden username <%= group._id %>" id="<%= friend._id %>userName" value="<%= friend._id %>"><%= friend.username %></option>
        <% } %>
<% } else { %>
    <option class="text-center hidden username <%= group._id %>" id="<%= friend._id %>userName" value="<%= friend._id %>"><%= friend.username %></option>
<% } %>